<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
  <div class="container">
    <br>
    <h1>BIENVENUE !</h1>
    <br>
    <div class="card">
      <div class="card-header">
        Voici l'index du potin n°<%= @id %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @gossip.title %></h5>
        <p class="card-text">Date de création : <%= @gossip.created_at %></p>
        <p class="card-text">Son contenu est le suivant : <%= @gossip.content %></p>

        <% name_user = @gossip.user.first_name %>
        <% link = "http://localhost:3000/users/" + name_user %>

        <a href="/gossips/<%= params[:id] %>/edit" class="btn btn-outline-danger btn-sm btn-block">Modifier</a>
        <%= button_to 'Supprimer', gossip_path(@gossip), method: :delete, class: 'btn btn-outline-danger btn-sm btn-block' %>
      </br>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>