<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <p>BIENVENUE !</p>
    <p>Voici l'index du potin n°<%= id %></p>
    <p>Son titre est le suivant : <%= all_gossips[id].title %></p>
    <p>Son titre est le suivant : <%= all_gossips[id].content %></p>
    <p>Le nom de l'utilisateur : <%= all_gossips[id].user.first_name %></p>
    <% name_user = all_gossips[id].user.first_name %>
    <% link = "http://localhost:3000/welcome/" + name_user %>
    <a href="<%= link %>">Voici la page du potin en question</a>
  </body>

</html>